<h2>Administrator Report</h2>
<p>Generate a table with users and the courses they have compelted and which ones are still required</p>

<form action="/page/index">
    <div>
        <button>Back to Home</button>
    </div>
</form>