<form class= "login" action="" method="">
<div>
    <label for= "name">Name:</label>
    <input type= "text", id="name", name="user_name"/>
</div>
<div>
  <label for= "password">Password:</label>
  <input type= "text", id="password", name="user_password"/>
</div>
<div class = "button">
  <button>Login</button>
</div>
<p id="or">OR</p>
</form>

<form class= "signUp" action="/page/2">
<div class = "button">
  <button>Create an Account</button>
</div>
</form>