<h2>Major Requirements</h2>
<p>Have the option to add or remove classes from a certain major's requirements via a table or search engine</p>


<form action="/page/index">
    <div>
        <button>Back to Home</button>
    </div>
</form>