<h2>Major Requirements</h2>

<p>Please enter a course you would like to add to the Computer Science Degree</p>

<%= form_tag(page_majorRequirements_path) do %>
    <%= text_field_tag 'category' %>
<% end %>

<table>
    <%@Courses.each do |c|%>
        <%@search.each do |s|%>
            <%if c.subCat == s.subCat && !CourseMapping.exists?(course_id: c.id)%>
                <%CourseMapping.create(course_id: c.id, degree_id: 1)%>
            <%end%>
        <%end%>
    <%end%>

    <th>Courses in Computer Science Degree</th>

    <%@Mappings.each do |m|%>
        <%@Courses.each do |cm|%>
            <%if m.course_id == cm.id %>
                <tr>
                <td><%= cm.subCat %></td>
                </tr>
            <%end%>
        <%end%>
    <%end%>
</table>

<form action="/page/index">
    <div>
        <button>Back to Home</button>
    </div>
</form>
