<h2>Major Requirements</h2>
<p>Add required courses to the degree (in this case we only have Computer Science and Engineering</p>
<p>Best Case Scenario: have list of all courses, then the admin can select if they want that to be a required course</p>
<p>This would be added to the CourseMapping relation, which shows the relationship between degrees and courses</p>


<form action="/page/index">
    <div>
        <button>Back to Home</button>
    </div>
</form>