<h2>Sign Up Page</h2>
<h3>Please fill out all of the information below.</h3>

<form class= "createAccount" action="" method="">
  <div>
      <label for= "fname">First Name:</label>
      <input type= "text", id="fname", align = "right", name="first_name"/>
  </div>
  <div>
    <label for= "lname">Last Name:</label>
    <input type= "text", id="lname", name="last_name"/>
  </div>
  <div>
    <label for= "email">Email:</label>
    <input type= "text", id="email", name="email_address"/>
  </div>
  <div>
      <label for= "username">Username:</label>
      <input type= "text", id="userame", name="user_name"/>
  </div>
  <div>
    <label for= "password">Password:</label>
    <input type= "text", id="password", name="user_password"/>
  </div>
</form>


<form class= "exitCreateAccount" action="/page/1">
<div>
  <button class = "createAccountButton">Sign Up</button>
</div>
</form>

<form class= "return" action="/page/1">
<div>
  <button class = "createAccountButton">Back to Login</button>
</div>
</form>