<h2>Student Complete Courses Report</h2>
<p>Generate a table with users and the courses they have completed</p>

<table>
    <tr>
        <th>Catalog Number</th>
        <th>Description</th>
    </tr>

<% @DegreeProgress.each do |degree| %>
    <% if degree.user_id == current_user.id %>
         <% @Mappings.each do |mapping| %>
            <% if mapping.degree_id == degree.degree_id %>
                <% check = false %>
                 <% @Finished.each do |finished| %>
                    <% if current_user.id == finished.user_id && finished.course_id == mapping.course_id%>
                        <% check = true %>
                     <%end%>
                <% end %>
                <% if check %>
                    <% @Courses.each do |course| %>
                       <% if course.id ==  mapping.course_id %>
                            <tr>
                             <td><%= course.subCat %></td>
                             <td><%= course.title %></td>
                            </tr>
                        <%end%>
                    <%end%>
                <% end %>
            <%end%>
        <%end%>
    <%end%>
<%end%>
</table>

<form action="/page/index">
    <div>
        <button>Back to Home</button>
    </div>
</form>