<h2>Student Complete Courses Report</h2>
<p>Generate a table with users and the courses they have completed</p>

<form action="/page/index">
    <div>
        <button>Back to Home</button>
    </div>
</form>