<h2>Student Incomplete Courses Report</h2>
<p>Generate a table with users and the courses still need to complete</p>
<form action="/page/index">
    <div>
        <button>Back to Home</button>
    </div>
</form>