<!DOCTYPE html>
  <html lang= "en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
     <title>Ohio State Courses</title>
     <%= stylesheet_link_tag "page" %>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/css/autoComplete.02.min.css">
    
     </head>
    <body>
      <div class= "header" >
        <%= image_tag "osu_logo.png", alt: "osu logo", class: "logo" %>
        <h1>Courses Website</h1>
      </div>
      <div class= "middle">
        <%=  yield %>
      </div>
      <div class= "footer">
        <p class= "authors"> Made in 2022 by: Ben Pearlstein, Matthew Rosivack, Camryn Friedman, Aishwarya Arun, and Yifan Zhou </p>
      </div>
    </body>



    </body>
  </html>
