<!DOCTYPE html>
  <html lang= "en">
    <head>
    <meta charset="utf-8">
    <!-- <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"> -->
     <title> Courses Website </title>
     <%= stylesheet_link_tag "page" %>
    </head>
    <body>
      <div class= "header">
        <%= image_tag "osu_logo.png", alt: "osu logo", class: "logo" %>
        <h1>Login Page</h1>
      </div>
      <div class= "middle">
        <%=  yield %>
      </div>
      <div class= "footer">
        <p class= "authors"> Made in 2022 by: Ben Pearlstein, Matthew Rosivack, Camryn Friedman, Aishwarya Arun, and Yifan Zhou </p>
      </div>



    </body>
  </html>
