// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css";
@import "bootstrap";
html, body{
    margin: 0;
    height: 100%;
    min-height: 100%;
}

.admin_navbar{
    list-style-type:none;
}
// a{
//     text-decoration: none;
//     color: inherit;
//     color: rgb(65, 58, 58);
//  }
  

// ul{
//     margin-top: 20px;
// }

// .admin_navbar, .student_navbar {
//     height: auto;
//     flex-direction: row;
//     list-style: none;
//     padding-left: 0px; 
//     font-size: 150%;
//     color: rgb(65, 58, 58);
    
// }
  
// li{
//     display:inline;
    
// }

.active{
    background: rgba(126, 122, 122, 0.15); 
}
nav{
    background-color:rgba(228, 222, 222, 0.452);
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
  

body{
    display: flex;
    flex-direction: column;
    background-color: WhiteSmoke;
    margin:0;
}
.header, .footer{
    flex: none;
}

.middle{
    flex: auto;
}
.header{
    height:125px;
    background-image: linear-gradient(to bottom right, FloralWhite, Gainsboro);
    border-bottom: 10px;
    border-bottom-color:crimson;
    border-bottom-style: double;


}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80, 80, 80);
    font-size: 2.25rem;
    margin-top:20px;
    float: left;
    margin-left:20px;
}

.logo{
    transform: scale(0.6);
    width: 600px;
    float: right;

}

h2{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

.return{
    transform: scale(1.9);
    font-family: Arial, Helvetica, sans-serif;
    width:fit-content;
    margin-left: 50px
}

.signUp{
    margin-left:43%;
    transform: scale(1.9);
    margin-bottom:100px;
    width: fit-content;
}

label{
    font-size: .75rem;

}

.authors{
    margin-left: 20px;

}

#or{
    margin-top: 10px;


}

.login{
    font-family: Arial, Helvetica, sans-serif;
    transform: scale(1.9);
    width: min-content;
    margin-left:45%;
    margin-top:150px;
    margin-bottom: 70px;
}

p{
    margin-left: 20px;
}
