// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
    background-color: WhiteSmoke;
    margin:0;
}

.header{
    height:125px;
    background-image: linear-gradient(to bottom right, FloralWhite, Gainsboro);
    border-bottom: 10px;
    border-bottom-color:crimson;
    border-bottom-style: double;


}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(80, 80, 80);
    font-size: 2.25rem;
    margin-top:20px;
    float: left;
    margin-left:20px;
}

.logo{
    transform: scale(0.6);
    width: 600px;
    float: right;

}

.signUp{
    margin-left:43%;
    transform: scale(1.9);
    margin-bottom:100px;
    width: fit-content;
}

label{
    font-size: .75rem;

}

.authors{
    margin-left: 20px;

}

#or{
    margin-top: 10px;


}


.login{
    font-family: Arial, Helvetica, sans-serif;
    transform: scale(1.9);
    width: min-content;
    margin-left:45%;
    margin-top:150px;
    margin-bottom: 70px;
}

