.alignment {
    padding-top: 40px;
    padding-bottom: 40px;
  }

.btn-primary{
    background-color: crimson;
    color: white;
    border-color: crimson;
}

.btn-primary:hover{
    background-color: crimson;
    color: white;
    border-color: red;
}
.middle{
    padding-top: 150px;

}

.button-top{
    margin-top: 10px;
}