.alignment {
    padding-top: 40px;
    padding-bottom: 40px;
  }

.btn-primary{
    background-color: crimson;
    color: white;
    border-color: crimson;
}

.btn-primary:hover{
    background-color: crimson;
    color: white;
    border-color: red;
}
.middle{
    padding-top: 150px;

}

.button-top{
    margin-top: 10px;
}

h2{
    margin-top: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer{
  font-family: Georgia, 'Times New Roman', Times, serif;  
  font-size: smaller;
}

.center{
    margin-left: auto;
    margin-right: auto;
}